* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: block;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
  padding: 20px 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  padding-bottom: 2px;
}

.container {
  width: 90%;
  margin: 0 auto;
}
.logo-container {
  width: 120px;
}
.logo-container img {
  width: 100%;
  object-fit: contain;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-left: 64px;
}
.navbar nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.login {
  width: 70%;
  max-width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar nav a {
  font-size: 1.5rem;
  padding: 10px 20px;
  display: inline-block;
  color: #202124;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.navbar nav a i {
  color: #4584f8;
  font-size: 24px;
}

#loginBtn,
#registerBtn {
  font-size: 16px;
  font-weight: normal;
  padding: 8px;
  text-align: center;
  background-color: #4584f8;
  color: white;
  border-radius: 8px;
}

#loginBtn:hover,
#registerBtn:hover {
  background-color: #2b66d7;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 30%;
  gap: 12px;
}
.icons a {
  width: 30%;
}
.cart-icon {
  display: inline-block;
  text-align: right;
  position: relative;
}

.cart-icon::after {
  content: attr(data-count);
  display: inline-block;
  font-size: 1.3rem;
  text-decoration: none;
  color: #5f6368;
  text-transform: uppercase;
  position: relative;
  width: 23%;
  border-right: 1px solid rgb(86, 85, 85);
  padding: 0 10px;
}

.login a {
  display: inline-block;
  font-size: 1.3rem;
  text-decoration: none;
  color: #5f6368;
  text-transform: uppercase;
  position: relative;
  width: 23%;
  border-right: 1px solid rgb(86, 85, 85);
}
.login a:last-child {
  border: none;
}
.login a::after {
  content: "";
  height: 4px;
  width: 0;
  background: #4584f8;
  display: block;
  margin: auto;
  transition: 0.5s ease;
}
.login a:hover::after {
  width: 70%;
}
.bars-icon {
  display: none;
  padding: 8px;
}
.bars-icon i {
  font-size: 32px;
  color: #2b66d7;
}

/*Footer*/

footer {
  width: 100%;
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.2);
  padding-top: 12px;
  font-size: 1.2rem;
}
.top-footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-holder {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 8px;
}
.logo-holder img {
  width: 120px;
  object-fit: contain;
}
.logo-holder p {
  width: 80%;
  text-align: justify;
  font-size: 1.2rem;
}
.bottom-footer {
  background-color: rgb(225, 225, 222);
}
.bottom-footer p {
  text-align: center;

  text-transform: capitalize;
  line-height: 1.5;
}
.social {
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.social ul {
  list-style: none;
  display: flex;
  gap: 8px;
}
.social ul li a {
  font-size: 1.5rem;
  color: #4584f8;
}
.links {
  display: flex;
  flex-direction: column;
}

.dropdown {
  display: none;
  flex-direction: column;
  gap: 8px;
  padding: 12px 16px;
  width: 50%;
  background-color: #e5e7e9;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.dropdown nav {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.dropdown.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
}
.dropdown .nav-menu a {
  font-size: 2rem;
  color: #4584f8;
  text-transform: capitalize;
  text-align: left;
  margin-bottom: 24px;
}
.log-buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.log-buttons a {
  padding: 100px;
}
.dropdown i {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 2rem;
  color: #4584f8;
}
@media screen and (max-width: 1600px) {
  .navbar nav a {
    font-size: 1rem;
  }
  .logo-container {
    width: 80px;
  }
  .cart-icon::after {
    width: 20%;
    border: none;
    position: absolute;
    left: 55%;
    top: 0;
  }
}

@media screen and (max-width: 1080px) {
  header {
    justify-content: space-around;
  }
  .navbar nav {
    display: none;
  }
  .bars-icon {
    display: block;
  }
  .bars-icon i {
    font-size: 42px;
  }
}

@media screen and (max-width: 700px) {
  .top-footer {
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 12px;
  }
}
