* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  margin-bottom: 24px;
}
.index-img {
  margin-bottom: 48px;
  width: 100%;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.268);
}
.index-img img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/*brand section*/
.brands {
  margin-bottom: 48px;
}
.brands-container {
  width: 100%;
  padding: 12px 48px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding-top: 24px;
  border-top: 2px solid #babbbe;
  border-bottom: 2px solid #babbbe;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.brands h2 {
  font-size: 2.5rem;
}
.brand {
  width: 100px;
}
.brand img {
  width: 100%;
  object-fit: cover;
}

/*filters*/
.filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 36px;
  border-bottom: 2px solid #babbbe;
  padding-bottom: 12px;
  margin-bottom: 24px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.filter-container h2 {
  font-size: 2.5rem;
}

#search-container {
  margin: 1em;
  width: 80%;
  display: flex;
  justify-content: center;
}
#search-container input {
  background-color: transparent;
  width: 50%;
  border: none;
  border-bottom: 2px solid #babbbe;
  padding: 1em 0.5em;
}
#search-container input:focus {
  border-bottom-color: #2b66d7;
}
#search-container button {
  padding: 1em 2em;
  margin-left: 1em;
  background-color: #2b66d7;
  color: #fff;
  border-radius: 12px;
}
#buttons {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}
.button-value {
  display: inline-flex;
  border: 2px solid #2b66d7;
  border-radius: 12px;
  padding: 1em 2em;
  background-color: transparent;
  color: #2b66d7;
  cursor: pointer;
}
.active {
  background-color: #2b66d7;
  color: #fff;
}
/*Products section*/

.section-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 36px;
  font-weight: bold;
  text-transform: uppercase;
}
.products-section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: relative;
  padding-top: 24px;
}
.products {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 36px;
}
.product.show {
  display: flex;
}
.product {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  display: none;
  cursor: pointer;
  margin-bottom: 36px;
}
.img-holder {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.product-img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
}
.product-img:hover {
  transform: scale(1.2);
}
.add-to-cart {
  align-self: flex-end;
  font-size: 1.2rem;
  padding: 8px 12px;
  background-color: #4584f8;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  margin: 8px;
}
.add-to-cart:hover {
  background-color: #2b66d7;
}
.product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding-left: 8px;
}
.product-info p {
  font-size: 1.2rem;
  color: #98989a;
}

.show-more {
  font-size: 1.2rem;
  padding: 8px 12px;
  background-color: #98989a;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin: 8px;
  font-style: italic;
  position: absolute;
  bottom: -10px;
  z-index: 999;
}

.show-more:hover {
  background-color: #5f6368;
}

@media screen and (max-width: 1024px) {
  .product {
    margin: 0 auto;
    width: 90%;
    max-width: 100%;
  }
  .img-holder {
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
}
@media screen and (max-width: 700px) {
  .img-holder {
    height: 300px;
  }
}
