* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  margin-bottom: 24px;
}
.carousel {
  width: 95%;
  height: 700px;
  margin: 0 auto;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.268);
  margin-bottom: 60px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.carousel-track img {
  width: 100%;
  height: 100%;
}
.carousel-track-container {
  height: 100%;
}
.carousel-track {
  list-style: none;
  height: 100%;
  transition: transform 250ms ease-in;
  display: flex;
}
.carousel-slide {
  width: 100%;
  display: none;
}
.current-slide {
  display: block;
}
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  z-index: 999;
  cursor: pointer;
  font-size: 40px;
}
.carousel-button-left {
  left: 0;
}
.carousel-button-right {
  right: 0;
}
.carousel-button i {
  font-size: 48px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
}
.carousel-button i:hover {
  color: #4584f8;
  border: 1px solid #4584f8;
}
.carousel-nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  z-index: 999;
  left: 0;
  right: 0;
}
.carousel-indicator {
  border: 0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #babbbe;
  cursor: pointer;
  margin: 0 15px;
}
.carousel-indicator.current-slide {
  background-color: #4584f8;
}

/*brand section*/
.brands {
  margin-bottom: 36px;
}
.brands-container {
  width: 100%;
  padding: 12px 48px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding-top: 24px;
  border-top: 2px solid #babbbe;
  border-bottom: 2px solid #babbbe;
}
.brands h2 {
  font-size: 2.5rem;
}
.brand {
  width: 100px;
}
.brand img {
  width: 100%;
  object-fit: cover;
}

/*Products section*/

.section-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 36px;
  font-weight: bold;
  text-transform: uppercase;
}
.products-section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: relative;
  padding-top: 24px;
}
.products {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}
.product.show {
  display: flex;
}
.product {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  display: none;
  cursor: pointer;
  margin-bottom: 36px;
}
.img-holder {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.product-img {
  width: 100%;
  height: 100%;
}
.product-img:hover {
  transform: scale(1.2);
}
.add-to-cart {
  align-self: flex-end;
  font-size: 1.2rem;
  padding: 8px 12px;
  background-color: #4584f8;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin: 8px;
}
.add-to-cart:hover {
  background-color: #2b66d7;
}
.product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding-left: 8px;
}
.product-info p {
  font-size: 1.2rem;
  color: #98989a;
}

.show-more {
  font-size: 1.2rem;
  padding: 8px 12px;
  background-color: #98989a;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin: 8px;
  font-style: italic;
  position: absolute;
  bottom: 0;
  z-index: 999;
}

.show-more:hover {
  background-color: #5f6368;
}
