.article-container {
  display: flex;
}

.article-images {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 600px;
}

.article-images img {
  width: 100%;
  border: 1px solid black;
}

.article-images img:first-child {
  grid-row: 1/3;
}
