header {
  margin-bottom: 36px;
}
.article-container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 64px;
}

.article-images {
  width: 50%;
  display: grid;
  grid-template-areas:
    "img1 img2"
    "img1 img3";
  height: 600px;
  gap: 8px;
  justify-content: center;
}

.sub-img {
  width: 100%;
  height: calc(600px / 2 - 4px);
}

.article-images img {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  object-fit: cover;
  display: block;
}

.main-img {
  grid-area: img1;
  width: 100%;
  height: 600px;
  cursor: zoom-in;
}
.sub-img:first-child {
  grid-area: img2;
}
.sub-img:last-child {
  grid-area: img3;
}
.article-info {
  border: 1px solid black;
  width: 40%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-self: stretch;
}
.article-info h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 32px;
  margin-bottom: 12px;
}
.article-info h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-bottom: 12px;
}
.sizes ul {
  list-style: none;
  display: flex;
  gap: 8px;
}
.sizes ul li {
  width: 50px;
  height: 32px;
  border: 1px solid black;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
}
.price {
  font-size: 24px;
  font-weight: 700;
}

.modal,
.cart-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 800px;
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
  color: #fff;
  cursor: pointer;
}

.thumbnail {
  width: 100px;
  height: auto;
  cursor: pointer;
}

/* Cart modal */

.cart {
  width: 40%;
  border-radius: 8px;
  background-color: #eee;
  padding: 15px;
  text-align: center;
  margin: auto;
}
.head {
  background-color: #2b66d7;
  border-radius: 3px;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  color: #fff;
  display: flex;
  align-items: center;
}
.total {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 10px 0;
  border-top: 1px solid #333;
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #aaa;
  border-radius: 3px;
  margin: 10px;
}
.cart-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #2b66d7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-img img {
  max-width: 43px;
  max-height: 43px;
  border-radius: 50%;
}
.cart-item i {
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .article-images {
    display: grid;
    grid-template-areas: "img1 img1" "img2 img3";
    align-items: stretch;
  }
  .main-img {
    height: 70%;
    align-self: self-end;
  }
  .sub-img {
    height: 30%;
  }
}

@media screen and (max-width: 500px) {
  .sizes ul li {
    width: 40px;
  }
  .article-info h1 {
    font-size: 24px;
  }
  .article-info h3 {
    font-size: 24px;
  }
}
